.row{
  width:96%;
}
input[type=radio] {
    border: 0px;
    width: 1.2em;
    height: 1.2em;
}
.que_set{
  padding:30px;
  font-size: 20px;
  line-height: 120%;
	letter-spacing: 0.1em;
}
.options{
  padding-top: 10px;
  padding-left: 35px;
}
.option{
  margin-bottom:15px;
}
#submit_button{
  height:30px;
  width:70px;
  border-radius: 15%;
  font-size: 14px;
}
#submit{
  margin-top:40px;
  text-align: center;
}
.que_set:nth-of-type(even) {
    background: #e0e0e0;
}
